name: Absensi Otomatis

on:
  schedule:
    # Senin
    - cron: '50 03 * * 1'  # Absen kelas 10.45 WIB (03:50 UTC)
    # Selasa
    - cron: '50 03 * * 2'  # Absen kelas 10.45 WIB (03:50 UTC)
    - cron: '00 08 * * 2'  # Absen kelas 14.00 WIB (07:05 UTC)

    # Rabu
    - cron: '50 03 * * 3'  # Absen kelas 10.45 WIB (03:50 UTC)
    - cron: '05 07 * * 3'  # Absen kelas 14.00 WIB (07:05 UTC)
    - cron: '40 09 * * 3'  # Absen kelas 16.35 WIB (09:40 UTC)

    # Kamis
    - cron: '05 01 * * 4'  # Absen kelas 08.00 WIB (01:05 UTC)
    - cron: '00 08 * * 4'  # Absen kelas 14.55 WIB (08:00 UTC)

    # Jumat
    - cron: '05 01 * * 5'  # Absen kelas 08.00 WIB (01:05 UTC)
    - cron: '50 03 * * 5'  # Absen kelas 10.45 WIB (03:50 UTC)

  workflow_dispatch:
jobs:
  run-absen:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Ambil kode dari repository
        uses: actions/checkout@v4

      - name: 2. Setup Chrome
        uses: browser-actions/setup-chrome@latest

      - name: 3. Siapkan lingkungan Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: 4. Install library dari requirement.txt
        run: pip install -r requirement.txt

      - name: 5. Jalankan skrip absen
        env:
          NPM: ${{ secrets.NPM }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python -u absen.py
