name: Absensi Otomatis

on:
  schedule:
    # Senin
    - cron: '50 10 * * 1'  # Absen untuk kelas 10.45
    # Selasa
    - cron: '50 10 * * 2'  # Absen untuk kelas 10.45
    - cron: '05 14 * * 2'  # Absen untuk kelas 14.00

    # Rabu
    - cron: '50 10 * * 3'  # Absen untuk kelas 10.45
    - cron: '05 14 * * 3'  # Absen untuk kelas 14.00
    - cron: '40 16 * * 3'  # Absen untuk kelas 16.35

    # Kamis
    - cron: '05 08 * * 4'  # Absen untuk kelas 08.00
    - cron: '00 15 * * 4'  # Absen untuk kelas 14.55

    # Jumat
    - cron: '05 08 * * 5'  # Absen untuk kelas 08.00
    - cron: '50 10 * * 5'  # Absen untuk kelas 10.45

  workflow_dispatch:
jobs:
  run-absen:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Ambil kode dari repository
        uses: actions/checkout@v4

      - name: 2. Setup Chrome
        uses: browser-actions/setup-chrome@latest

      - name: 3. Siapkan lingkungan Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: 4. Install library dari requirement.txt
        run: pip install -r requirement.txt

      - name: 5. Jalankan skrip absen
        env:
          NPM: ${{ secrets.NPM }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python -u absen.py
